@font-face {
  src: url("../assets/fonts/yellowtail-regular.woff") format("woff");
  font-family: "Yellowtail";
}

@font-face {
  src: url("../assets/fonts/roboto-regular.woff") format("woff");
  font-family: "Roboto";
}
